body {
  background-color: #e0ffcd;
}
.body {
  background-color: white;
  margin: 0 auto;
  margin-top: 50px;
  width: 500px;
  padding: 20px;
  border-radius: 10px;
}
header {
  display: flex;
  justify-content: center;
}
input {
  height: 50px;
  border-radius: 10px;
}
.search-form-input {
  background-color: #e0ffcd;
  padding: 10px;
  width: 350px;
}
.search-form-button {
  background-color: #004a2f;
  padding: 10px;
  width: 200px;
}
